{% extends 'base.html' %}

{% block content %}

{% include 'landing/header.html' %}
<div class="b-example-divider"></div>
{% include 'landing/hero.html' %}
<div class="b-example-divider"></div>
{% include 'landing/problem.html' %}
<div class="b-example-divider"></div>
{% include 'landing/features.html' %}
<div class="b-example-divider"></div>
{% include 'landing/journey.html' %}
<div class="b-example-divider"></div>
{% include 'landing/faq.html' %}
<div class="b-example-divider"></div>
{% include 'landing/footer.html' %}
{%endblock%}