<svg xmlns="http://www.w3.org/2000/svg" class="d-none">
    <symbol id="home" viewBox="0 0 16 16">
      <path d="M8.354 1.146a.5.5 0 0 0-.708 0l-6 6A.5.5 0 0 0 1.5 7.5v7a.5.5 0 0 0 .5.5h4.5a.5.5 0 0 0 .5-.5v-4h2v4a.5.5 0 0 0 .5.5H14a.5.5 0 0 0 .5-.5v-7a.5.5 0 0 0-.146-.354L13 5.793V2.5a.5.5 0 0 0-.5-.5h-1a.5.5 0 0 0-.5.5v1.293L8.354 1.146zM2.5 14V7.707l5.5-5.5 5.5 5.5V14H10v-4a.5.5 0 0 0-.5-.5h-3a.5.5 0 0 0-.5.5v4H2.5z"/>
    </symbol>
    <symbol id="cash" viewBox="0 0 16 16">
      <path fill-rule="evenodd" d="M11 15a4 4 0 1 0 0-8 4 4 0 0 0 0 8m5-4a5 5 0 1 1-10 0 5 5 0 0 1 10 0"/>
      <path d="M9.438 11.944c.047.596.518 1.06 1.363 1.116v.44h.375v-.443c.875-.061 1.386-.529 1.386-1.207 0-.618-.39-.936-1.09-1.1l-.296-.07v-1.2c.376.043.614.248.671.532h.658c-.047-.575-.54-1.024-1.329-1.073V8.5h-.375v.45c-.747.073-1.255.522-1.255 1.158 0 .562.378.92 1.007 1.066l.248.061v1.272c-.384-.058-.639-.27-.696-.563h-.668zm1.36-1.354c-.369-.085-.569-.26-.569-.522 0-.294.216-.514.572-.578v1.1zm.432.746c.449.104.655.272.655.569 0 .339-.257.571-.709.614v-1.195z"/>
      <path d="M1 0a1 1 0 0 0-1 1v8a1 1 0 0 0 1 1h4.083q.088-.517.258-1H3a2 2 0 0 0-2-2V3a2 2 0 0 0 2-2h10a2 2 0 0 0 2 2v3.528c.38.34.717.728 1 1.154V1a1 1 0 0 0-1-1z"/>
      <path d="M9.998 5.083 10 5a2 2 0 1 0-3.132 1.65 6 6 0 0 1 3.13-1.567"/>
    </symbol>
    <symbol id="calendar3" viewBox="0 0 16 16">
      <path d="M14 0H2a2 2 0 0 0-2 2v12a2 2 0 0 0 2 2h12a2 2 0 0 0 2-2V2a2 2 0 0 0-2-2zM1 3.857C1 3.384 1.448 3 2 3h12c.552 0 1 .384 1 .857v10.286c0 .473-.448.857-1 .857H2c-.552 0-1-.384-1-.857V3.857z"/>
      <path d="M6.5 7a1 1 0 1 0 0-2 1 1 0 0 0 0 2zm3 0a1 1 0 1 0 0-2 1 1 0 0 0 0 2zm3 0a1 1 0 1 0 0-2 1 1 0 0 0 0 2zm-9 3a1 1 0 1 0 0-2 1 1 0 0 0 0 2zm3 0a1 1 0 1 0 0-2 1 1 0 0 0 0 2zm3 0a1 1 0 1 0 0-2 1 1 0 0 0 0 2zm3 0a1 1 0 1 0 0-2 1 1 0 0 0 0 2zm-9 3a1 1 0 1 0 0-2 1 1 0 0 0 0 2zm3 0a1 1 0 1 0 0-2 1 1 0 0 0 0 2zm3 0a1 1 0 1 0 0-2 1 1 0 0 0 0 2z"/>
    </symbol>
  </svg>

  <div class="container text-center px-4 py-5" id="features">
    <h2 class="pb-2">No fees. No gimmicks. Just real help.</h2>
    <p class="fs-5">We believe that everyone deserves financial stability and clarity. That’s why we’ve created this platform—to put power back in your hands, where it belongs.</p>
    <div class="row justify-content-center g-4 py-5">
        <div class="col-12 col-sm-6 col-md-4 col-lg-3 d-flex flex-column align-items-center text-center">
            <svg class="bi text-body-secondary mb-3" width="1.75em" height="1.75em"><use xlink:href="#home"/></svg>
            <div>
                <h3 class="fw-bold mb-0 fs-4 text-body-emphasis">Financial Stability</h3>
                <br>
                <p>You'll understand what you need to do to feel more confident about your finances.</p>
            </div>
        </div>
        <div class="col-12 col-sm-6 col-md-4 col-lg-3 d-flex flex-column align-items-center text-center">
            <svg class="bi text-body-secondary mb-3" width="1.75em" height="1.75em"><use xlink:href="#cash"/></svg>
            <div>
                <h3 class="fw-bold mb-0 fs-4 text-body-emphasis">Freedom & Wealth</h3>
                <br>
                <p>Step-by-step guide to building your wealth, tailored to your unique preferences.</p>
            </div>
        </div>
        <div class="col-12 col-sm-6 col-md-4 col-lg-3 d-flex flex-column align-items-center text-center">
            <svg class="bi text-body-secondary mb-3" width="1.75em" height="1.75em"><use xlink:href="#calendar3"/></svg>
            <div>
                <h3 class="fw-bold mb-0 fs-4 text-body-emphasis">Plan for your future</h3>
                <br>
                <p>You'll get a clear plan for your retirement, kids' education, and estate.</p>
            </div>
        </div>
    </div>
</div>
