<div class="container p-5 mb-4 bg-body-tertiary rounded-3">
    <div class="container-fluid py-5">
      <h2>Tired of listening to financial gurus?</h2>
      <br>
      <ul>
        <li>Feeling like your bank’s advice is more about their sales goals than your financial goals?</li>
        <li>Confused by cookie-cutter solutions that don't fit your unique life circumstances?</li>
      </ul>
      <p>Our AI-powered platform bridges the gap between your financial goals and the advice you need—transparent, empathetic, and designed for YOU.</p>
      <br>
      <button class="btn btn-primary btn-lg" type="button">Secure my future</button>
    </div>
</div>